[submodule "vim/pack/plugin/start/vim-colors-solarized"]
	path = vim/pack/plugin/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/pack/plugin/start/vim-closetag"]
	path = vim/pack/plugin/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "vim/pack/plugin/start/ctrlp.vim"]
	path = vim/pack/plugin/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/plugin/start/tabular"]
	path = vim/pack/plugin/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/plugin/start/auto-pairs"]
	path = vim/pack/plugin/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/pack/plugin/start/cscope-maps"]
	path = vim/pack/plugin/start/cscope-maps
	url = https://github.com/joe-skb7/cscope-maps.git
[submodule "vim/pack/plugin/start/onedark.vim"]
	path = vim/pack/plugin/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim/pack/plugin/start/goyo.vim"]
	path = vim/pack/plugin/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/pack/plugin/start/vim-submode"]
	path = vim/pack/plugin/start/vim-submode
	url = https://github.com/kana/vim-submode
[submodule "vim/pack/plugin/start/vimtex"]
	path = vim/pack/plugin/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/plugin/start/tagbar"]
	path = vim/pack/plugin/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/plugin/start/vim-spell-pt-br"]
	path = vim/pack/plugin/start/vim-spell-pt-br
	url = https://github.com/mateusbraga/vim-spell-pt-br
[submodule "vim/pack/plugin/start/vim-signify"]
	path = vim/pack/plugin/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/pack/plugin/start/ack.vim"]
	path = vim/pack/plugin/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/pack/plugin/start/vim-opencl"]
	path = vim/pack/plugin/start/vim-opencl
	url = https://github.com/petRUShka/vim-opencl
[submodule "vim/pack/plugin/start/nerdcommenter"]
	path = vim/pack/plugin/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/pack/plugin/start/vim-endwise"]
	path = vim/pack/plugin/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/pack/plugin/start/vim-fireplace"]
	path = vim/pack/plugin/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "vim/pack/plugin/start/vim-fugitive"]
	path = vim/pack/plugin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugin/start/vim-git"]
	path = vim/pack/plugin/start/vim-git
	url = https://github.com/tpope/vim-git
[submodule "vim/pack/plugin/start/vim-jdaddy"]
	path = vim/pack/plugin/start/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "vim/pack/plugin/start/vim-markdown"]
	path = vim/pack/plugin/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/pack/plugin/start/vim-repeat"]
	path = vim/pack/plugin/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/plugin/start/vim-sensible"]
	path = vim/pack/plugin/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/pack/plugin/start/vim-surround"]
	path = vim/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugin/start/vim-tbone"]
	path = vim/pack/plugin/start/vim-tbone
	url = https://github.com/tpope/vim-tbone
[submodule "vim/pack/plugin/start/vim-unimpaired"]
	path = vim/pack/plugin/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/pack/plugin/start/vim-airline"]
	path = vim/pack/plugin/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/plugin/start/vim-airline-themes"]
	path = vim/pack/plugin/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/plugin/start/targets.vim"]
	path = vim/pack/plugin/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/pack/plugin/start/base16-vim"]
	path = vim/pack/plugin/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
